## Properties
`testCaseId` - id of parent test case